* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #34a;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 280px;
}
